      <div class="container-fluid">
        <div class="col">
          <div class="card" data-post="{{posts.id}}">
            <div class="card-header" style="background-color: #1c97cf">
                <span class="fs-3"><strong>{{posts.title}}</strong></span>
                <br>
                <span class="text-end fs-6">Posted by {{posts.user.name}} on {{format_date  posts.date_created}}</span>
            </div>
            <div class="card-body">
              {{posts.content}}
            </div>
          </div>
        </div>
        <hr>
        {{!-- if button clicked and authenticated, show textbox and show comments below it if any --}}
        {{#if loggedIn}}
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-new-comment" aria-expanded="false" aria-controls="collapse-new-comment">+ Add a Comment</button>
        <div class="card comment collapse" id="collapse-new-comment" data-post="{{posts.id}}">
          <div class="card-header" style="background-color: #53a5cb">
            Post Comment
          </div>
          <form>
            <div class="mb-3">
              <textarea class="form-control text-break" id="content" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary post-comment">Submit</button>
          </form>
        </div>
        
        <script src="/js/comment.js"></script>
        {{else}}
        <a href="/login">Login</a> or <a href="/signup">Sign up</a> to comment
        {{/if}}
        {{#each posts.comments as |comment|}}
        {{> comment}}
        {{/each}}
      </div>
      
      